@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- GENERAL ------------------ */
.text-strong {
  @apply text-orange-500 font-bold;
}

.btn__hash {
  @apply cursor-pointer;
}

/* ------------------ LOGIN VIEW ----------------- */

.list__item {
  @apply hover:bg-gray-50 hover:text-orange-400 rounded-md hover:drop-shadow-md hover:shadow-md cursor-pointer px-4 py-2 duration-100;
}

.list__item-active {
  @apply bg-gray-50 text-orange-400 drop-shadow-md shadow-md;
}

/* ---------------- SIGN UP VIEW ---------------- */
.input__container {
  @apply w-full flex flex-col justify-center items-start gap-2;
}

.input__label {
  @apply text-azul font-bold font-jakarta text-lg drop-shadow-md;
}

.input__area {
  @apply w-full font-jakarta placeholder:text-center placeholder:font-jakarta p-2 border border-solid border-azulClaro rounded shadow-md;
}

.input__area-50 {
  @apply w-1/2 font-jakarta placeholder:text-center placeholder:font-jakarta p-2 border border-solid border-azulClaro rounded shadow-md;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------- DASHBOARD VIEW -------------- */
.dashboard__button {
  @apply flex flex-col justify-center items-center bg-azulClaro p-8 rounded-lg shadow-lg border-2 border-solid border-orange-300 w-[20%] cursor-pointer h-[35vh] gap-8 hover:bg-orange-300 hover:underline hover:border-azulClaro decoration-gray-50 decoration-2;
}

.dashboard__button-img {
  @apply rounded-full border-2 border-solid border-orange-300 bg-brancoAzulado drop-shadow shadow;
}

.dashboard__button-text {
  @apply font-amatic text-4xl text-gray-50 tracking-wider font-bold;
}

.back__button {
  @apply absolute font-amatic text-gray-50 bg-azulEscuro p-4 rounded-lg text-3xl font-bold hover:bg-orange-300 hover:underline decoration-2 border-2 border-solid border-orange-400 shadow-lg drop-shadow hover:border-azulEscuro duration-300 top-[2%] left-[1%];
}

.story__card,
.feedbacks__card {
  @apply flex flex-col justify-start items-center w-[30%] h-[30vh] tracking-wide gap-6 bg-brancoAzulado p-10 rounded-lg shadow-lg text-gray-800 overflow-y-scroll;
}

.story__text-age {
  @apply font-amatic text-3xl font-bold text-orange-400 drop-shadow;
}

.story__text-img {
  @apply w-[30%] border-2 border-solid border-orange-300 rounded-full shadow-lg bg-azulClaro;
}

.story__text-story {
  @apply indent-8 text-justify font-jakarta text-sm drop-shadow-sm;
}

.story__container,
.feedbacks__container {
  @apply flex flex-row flex-wrap justify-center items-center gap-12;
}

.story__text-timestamp {
  @apply font-jakarta text-sm drop-shadow-sm;
}

.feedbacks__modal {
  @apply z-[9999] w-[60vw] bg-gray-100 border-2 border-solid border-orange-300 h-[70vh] absolute rounded-lg shadow-md flex flex-row justify-around items-center
p-10 gap-16;
}

.feedbacks__modal-cover {
  @apply w-screen h-screen bg-[rgba(55,65,81,0.72)] absolute z-[9998];
}

.statistic__button {
  @apply border-2 border-solid border-orange-300 shadow-lg bg-brancoAzulado p-3 w-[150px] h-[150px] flex flex-col justify-center items-center rounded-full hover:bg-azulEscuro text-gray-700 hover:text-gray-50 duration-200 font-amatic text-2xl font-bold;
}

.statistic__button-active {
  @apply bg-azulClaro border-2 border-solid border-orange-300 scale-110 duration-200 shadow-2xl;
}

/* ------------------ MAP VIEW ----------------- */
.aside__container {
  @apply flex flex-col justify-center items-center gap-4 bg-brancoAzulado p-8 rounded-xl shadow-md border border-solid border-orange-400 text-gray-700 cursor-pointer hover:bg-orange-300 hover:text-gray-50 duration-100;
}

.aside__text {
  @apply font-amatic text-4xl underline underline-offset-8 font-bold text-center;
}

.map__piece {
  @apply w-1/4 h-full;
}

.map__piece-discovered {
  @apply shadow-xl cursor-pointer;
}

.map__piece-undiscovered {
  @apply blur-[0.8px];
}

.modal__ended,
.modal__begin,
.modal__comment {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @apply rounded-lg w-[60vw] h-[70vh] absolute z-[9999] pt-5 bg-gray-50 flex flex-col justify-start items-center font-jakarta text-gray-700 object-contain font-bold tracking-wide drop-shadow-md;
}
/* ---------------- FEEDBACKS VIEW ---------------- */
.modal__levelContainer {
  @apply flex flex-row justify-center items-center text-sm font-normal;
}

.modal__btn-level {
  @apply flex flex-col justify-center items-center cursor-default;
}

.modal__btn-level-img {
  @apply rounded-full border border-solid border-orange-400 w-[80%] hover:bg-azulClaro duration-100 cursor-pointer;
}

/* ----------------- CHARTS VIEW ----------------- */
.btn__charts {
  @apply flex flex-col justify-center items-center border-[2px] border-solid border-orange-500 rounded-full p-2 w-[130px] h-[130px] shadow-xl bg-gray-50 hover:bg-orange-300 hover:text-gray-50 hover:border-azul duration-150;
}

.btn__charts-active {
  @apply bg-orange-300 text-gray-50 border-azul -translate-y-2;
}

.btn__pagination {
  @apply font-amatic text-azulEscuro text-3xl font-bold bg-gray-50 p-3 rounded-lg shadow-lg;
}

.btn__pagination-active {
  @apply text-gray-50 text-4xl underline  bg-orange-400  shadow-xl;
}
.container__btns {
  @apply flex flex-row justify-center items-center gap-4;
}

/* ------------------ GAME VIEW ----------------- */
.borders {
  @apply border-orange-400 border-solid border border-b-0;
}

.hint--strong {
  @apply text-5xl font-amatic text-orange-500 font-bold;
}

.hint--strong-minor {
  @apply text-2xl font-amatic text-orange-500 font-bold;
}

.hint__img {
  @apply w-[17%];
}

.modal {
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  @apply duration-1000 opacity-0;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(251, 146, 60);
  border-radius: 8px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
